<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Приглашение на свадьбу</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>

  <div class="container-fluid bg-1 text-center ">
    <p class="name margin-top-3"> Спасибо за ответ!<br>
    </p>
  </div>

  <div class="container-fluid bg-2 text-center">
    <p class="links">-Вступай в наш чат в
      <a href="https://t.me/joinchat/DTh8YxB9bfkH9WaIxWmRRQ" target="_blank">Телеграме</a>
    </p>
    <p class="links">
      -Публикуй свои воспоминания с праздника в нашем Instagram @02.06_foto (пароль Gavrilovy)
    </p>
    <p class="links" id="forecast">-Не забывай посмотреть прогноз
      <a href="https://yandex.ru/pogoda/moscow?from=serp_title" target="_blank">погоды</a>
    </p>
    <img src="/static/images/99.png" class="img " alt="Сердце">
    <p class="headers margin3">- Дата и место проведения -</p>
    <p class="paragraph">2 июня в 15:00 в Мини-Отеле Таежный</p>
    <p class="paragraph">Московская обл, Раменское, д. Заболотье, Ленинская 32/5</p>
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3AR06aO-GG8X-RPHX9ICDj-DBCzwUS-G_9&amp;source=constructor"
      width="320" height="300" frameborder="0"></iframe>
    <p class="headers margin-top-3">- Стиль свадьбы: эко-рустик -</p>
    <p class="paragraph">Поэтому рекоммендованы бежевый, неяркие зеленый и коричневый,
      <br> а также <a
        href="https://wiki.wildberries.ru/glossary/%D0%BF%D0%B0%D1%81%D1%82%D0%B5%CC%81%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BE%D1%82%D1%82%D0%B5%D0%BD%D0%BE%D0%BA"
        target="_blank">пастельные
      </a> оттенки одежды.
      <br> Внимание! Под запретом яркие цвета (красный, пестрый принт, леопардовый и
      пр).</p>

    <p class="headers">- Коротко о подарках -</p>
    <p class="paragraph">
      Не ломай голову над ними. Твои пожелания в конверте помогут нам осуществить мечту.
      <br>И, пожалуйста, не дари цветы!
      <br>Мы не успеем насладиться их красотой.
      Вместо цветов мы с радостью примем <br>Настольную игру, Книгу или Грампластинку :)
    </p>
  </div>

  <div class="container-fluid bg-1 text-center ">
    <p class="name" id="finish-name">Анна и Артем <br> Гавриловы<br>
    </p>
    <img src="/static/images/12344.png" class="img-fluid col-lg-2" alt="Цветы">
  </div>
</body>

</html>